<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de Usuario</title>
</head>
<body>
  <h1>Registro</h1>
  {{#if error_msg}}
    <div>{{error_msg}}</div>
  {{/if}}

  <form action="/register" method="POST">
    <div>
      <label for="name">Nombre:</label>
      <input type="text" name="name" required>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" name="email" required>
    </div>
    <div>
      <label for="password">Contraseña:</label>
      <input type="password" name="password" required>
    </div>
    <button type="submit">Registrar</button>
  </form>

  <p>¿Ya tienes cuenta? <a href="/login">Inicia sesión aquí</a></p>
</body>
</html>
